<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xgbb.mapper.AdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xgbb.entity.Ad">
        <id column="ad_id" property="adId" />
        <result column="ad_img" property="adImg" />
        <result column="ad_url" property="adUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ad_id, ad_img, ad_url
    </sql>

</mapper>
