<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xgbb.mapper.OrderDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xgbb.entity.OrderDetails">
        <id column="commodity_id" property="commodityId" />
        <result column="commodity_number" property="commodityNumber" />
        <result column="order_id" property="orderId" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        commodity_id, commodity_number, order_id, state
    </sql>

</mapper>
